<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<include resource="org/springframework/boot/logging/logback/defaults.xml" />
	<include resource="org/springframework/boot/logging/logback/console-appender.xml" />
	
	<property name="LOG_PATH" value="/Users/sukinhan/Develop/Java/Logs/api" />
	<property name="LOG_FILE" value="jpa" />
	<property name="LOG_FILE_PATH" value="${LOG_PATH}/${LOG_FILE}.log" />
	
	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<!-- <pattern>%d{HH:mm:ss.SSS} %cyan([%thread]) %highlight(%-5level) %c %green((%file:%line\)) - %message%n</pattern> -->
			<pattern>%d{HH:mm:ss.SSS} %cyan([%thread]) %highlight(%-5level) %c %green( (%file:%line\) ) - %message%n</pattern>
		</encoder>
	</appender>
	
	<appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_FILE_PATH}</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_FILE_PATH}.%d{yyyy-MM-dd-HH}</fileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>
	
	<!-- trace < debug < info < warn < error -->
	
	<springProfile name="loc">
		<logger name="org.springframework" level="info" />
		
		<root level="debug">
			<appender-ref ref="console" />
		</root>
	</springProfile>
	
	<springProfile name="dev">
		<logger name="org.springframework" level="info" />
		
		<root level="debug">
			<appender-ref ref="console" />
			<appender-ref ref="file" />
		</root>
	</springProfile>
	
	<springProfile name="prd">
		<logger name="org.springframework" level="warn" />
		
		<root level="warn">
			<appender-ref ref="console" />
			<appender-ref ref="file" />
		</root>
	</springProfile>
	
</configuration>